%a.reveal-link{"data-reveal-id" => "assign-modal", :href => "#"}

#assign-modal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "Assign-modal", "data-reveal" => "", :role => "dialog"}
  %h2.content
  %a.close-reveal-modal{"aria-label" => "Close"} ×