= link_to "Create event", "#", :id => "new_session"
%h1
  = "Welcome #{current_user.firstname}"

%div
  .calendar

#create_session_dialog.dialog{:style => "display:none"}
#session_desc_dialog.dialog{:style => "display:none"}

%a.reveal-link{"data-reveal-id" => "assign-modal", :href => "#"}
#assign-modal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "Assign-modal", "data-reveal" => "", :role => "dialog"}
  %h2.content
  %a.close-reveal-modal{"aria-label" => "Close"} ×

%button.button.dropdown{"aria-controls" => "drop1", "aria-expanded" => "false", "data-dropdown" => "drop1", :href => "#"} Coaches
%br
%ul#drop1.f-dropdown{"aria-hidden" => "true", "data-dropdown-content" => ""}

  = render @coaches




