!!!
%html
  %head
  %title MVPSuperstar
  = stylesheet_link_tag :application, media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag :application, 'data-turbolinks-track' => true
  = csrf_meta_tags

  %body
    %header
      %nav.navbar
        %li Home
        %li About
        %li Contact
    %main
      = yield
